@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ACP 1s1k</h1>
    <p class="lead">ACP (Admin Control Panel) - jest to panel ułatwiający administracje serwerami cs go <br/>
    (wparcie tylko dla serwerów 1s1k.pl)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>1shot1kill.pl</h2>
        <p>
            Dostawca serwerów gier
        </p>
        <p><a class="btn btn-default" href="https://www.1s1k.pl">Zobacz &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sloneczny Dust</h2>
        <p>Sieć serwerów cs go</p>
        <p><a class="btn btn-default" href="https://www.sloneczny-dust.pl">Zobacz &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kontakt do mnie</h2>
        <p>Słoneczny Dust - Kevcio Junior Administrator</p>
        <p><a class="btn btn-default" href="https://sloneczny-dust.pl/profile/27-kevcio/">Zobacz &raquo;</a></p>
    </div>

</div>